<div *ngIf="!dataLoaded" class="spinner">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <div id="preloader">
    <div id="loader"></div>
  </div>
</div>

<section>
  <app-ajout-article-vente> </app-ajout-article-vente>
  <app-affiche-article-vente
    *ngIf="dataLoaded"
    [newArticleVente]="newArticleVente"
    (loadArticlesEvent)="loadArticle($event)"
    [links]="links"
  ></app-affiche-article-vente>
</section>
