<section>
  <div *ngIf="!dataLoaded" class="spinner">
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div id="preloader">
      <div id="loader"></div>
    </div>
  </div>
  <app-ajouter-article
    *ngIf="dataLoaded"
    [newFournisseur]="newFournisseur"
    [newCategorie]="newCategorie"
    [newArticle]="newArticle"
    [editedArticle]="editedArticle"
    (buttonAjouter)="handleFormSubmit($event)"
  >
  </app-ajouter-article>

  <app-afficher-article
   *ngIf="dataLoaded" 
  [newArticle]="newArticle"
  [links]="links"
  (loadArticlesEvent)="loadArticle($event)"
  (editArticleEvent)="onEditArticle($event)"
  (deleteArticleEvent)="handleDelete($event)"

  
  >
 
  </app-afficher-article>
</section>
