/* You can add global styles to this file, and also import other style files */
/* @import "node_modules/bootstrap/dist/css/bootstrap.min.css" */



*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: aliceblue;
}

section{
  height: 90%;
  background: aliceblue;
}

.container{
  height: 90%;
  width: 80%;
  background: #f8f9fa;
  margin-top: 15px;
  box-shadow: 18px -3px 19px -3px rgba(0,0,0,0.1);
}