
.panel{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    width: 100%;
}
.panel .panel-heading{
    background: #7dd6ea;
    padding: 5px;
    border-radius: 0;
    /* margin-left: 20px; */
    width: 100%;

}
.panel .panel-heading .btn:hover{ box-shadow: 0 0 10px rgba(29, 168, 227, 0.5); }
.panel .panel-heading .form-horizontal .form-group{ margin: 0; }
.panel .panel-heading .form-horizontal label{
    color: #fff;
    margin-right: 10px;
}
.panel .panel-heading .form-horizontal .form-control{
    display: inline-block;
    width: 80px;
    border: none;
    border-radius: 10px;
}
.panel .panel-heading .form-horizontal .form-control:focus{
    box-shadow: none;
    border: none;
}
.panel .panel-body{
    padding: 0;
    border-radius: 0;
}
.panel .panel-body .table thead tr th{
    color: #7dd6ea;
    background: aliceblue;
    font-size: 17px;
    font-weight: 700;
    padding-left: 12px;
    border-bottom: none;
    margin: auto;
}
.panel .panel-body .table tbody tr td{
    color: #555;
    background: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 13px;
    vertical-align: middle;
    border-color: #e7e7e7;
    

}
.panel .panel-body .table tbody tr:nth-child(odd) td{ background: #f5f5f5; }
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .panel-footer{
    color: #fff;
    background: #7dd6ea;
    font-size: 16px;
    line-height: 33px;
    padding: 10px 5px;
    border-radius: 0;
    /* margin-left: 20px; */
    width: 100%;
}

.pagination{ margin: 0; }
.pagination li span{
  background:aliceblue;  
  margin-right: 2px;
  padding: 8px;
  color: #7dd6ea;
}

/* .pagination span{
    background-color: red;
} */
.pagination li span:hover,
.pagination li span:focus,
.pagination li .active a{
    color: aliceblue;
    background-color: #7dd6ea;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    cursor: pointer;
}

.active{
    color: aliceblue;
    background-color: #ea7d8c; 
}

.OK{
    position: relative;
    /* left: -15%; */
    padding-left: 10px;
    padding-right: 10px;
}

img{
    border-radius:10px
}

#searchInput{
    box-shadow: none;
    border: none;
    display: inline-block;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: #7dd6ea;
}
.selection{
    box-shadow: none;
    border: none;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    border-right:1px solid ; 
    color: #7dd6ea;
}