<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container" style="width: 90%; ">
    <div class="row" style="width: 100%; ">
        <div class="md-offset-1 md-10 m-auto" style="width: 100%">
            <div class="panel">
                <div class="panel-heading">

                    <div class="row">
                        <div class="col-sm-12 col-xs-12 d-flex justify-content-between">
                            <span class="fs-3 text-white">Liste des Articles</span>

                            <div class="mb-1 d-flex .form-group form-horizontal"
                                style="background: white;  border-radius: 10px; height: 40px;">
                                <select class="selection" style="background: white " [(ngModel)]="selectedCategory"
                                (ngModelChange)="updateFilteredArticles()">
                                    <option disabled selected value="">categories</option>
                                    <option *ngFor="let cate of newArticleConfection " value=" {{ cate.id }}"> {{
                                        cate.libelle }}</option>
                                </select>
                                <input type="text" class="form-control" id="searchInput" placeholder="recherche"
                                    [(ngModel)]="searchTerm">

                            </div>

                            <div class="form-group form-horizontal">
                                <label>items par page : </label>
                                <select class="form-control" (change)="limitItemPage($event)"> >
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th>photo</th>
                                <th (click)="sort()">
                                    libelle
                                    <i class="fa fa-sort"></i>
                                </th>

                                <th>Qte Stock <i class="fa fa-sort"></i> </th>
                                <th>Article confections <i class="fa fa-sort"></i> </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container>
                                <tr
                                    *ngFor="let art of newArticleVente | orderBy: sortingOrder | filterBy: ['libelle']:searchTerm; let i = index ">
                                    <td><img src="{{imageDirectoryPath}}/{{art.photo}} " width="50" height="50" alt="">
                                    </td>
                                    <td>{{art.libelle}}</td>
                                    <td>{{art.quantite_total}} </td>
                                    <td>
                                        <span *ngFor="let arti of art.articles ">
                                            {{arti.libelle}}-{{arti.quantite}}
                                        </span>
                                    </td>
                                    <td>
                                        <ul class="action-list">
                                            <div class="d-flex justify-content-center gap-3">
                                                <li> <button class="btn btn-info"
                                                        (click)="onEditArticle(art)">Edit</button>
                                                </li>
                                                <li (click)="toggleButtons(i)" [hidden]="art.deleteButtonVisible">
                                                    <button class="btn btn-danger">Delete</button>
                                                </li>
                                                <li class="OK" [hidden]="!art.deleteButtonVisible"
                                                    (click)="onClickOk(art)">
                                                    <button class="btn btn-success">Ok (<span>{{ countdown
                                                            }}</span>)</button>
                                                </li>
                                            </div>
                                        </ul>
                                    </td>
                                </tr>
                            </ng-container>
                            <!-- recherche -->

                        </tbody>
                    </table>



                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6  me-5 justify-content-end">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li *ngFor="let link of links">
                                        <span [innerHTML]="link.label" class="{{link.active ? 'bg-primary' : ''}}"
                                            (click)="loadArticles({page : link.label , limit : '5'})">
                                        </span>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>