section{
    background:url(https://img.freepik.com/photos-gratuite/deux-couturieres-africaines-cousent-vetements-machine-coudre-au-bureau-tailleur_627829-13693.jpg);
    height: 87vh;
    /* background-repeat: no-repeat; */
    background-size: contain;

}