section{
  height: 90%;
  background: aliceblue;
}

.container{
  height: 90%;
  width: 80%;
  background: #f8f9fa;
  margin-top: 15px;
  box-shadow: 18px -3px 19px -3px rgba(0,0,0,0.1);
}

td{
  cursor: pointer;
}
.table-hover{
  background : aliceblue;
}

.disabled-row {
  opacity: 0.8;
  pointer-events: none; 
}






