@import "~ngx-toastr/toastr";

td{
  cursor: pointer;
}
.table-hover{
  background : aliceblue;
}

.disabled-row {
  opacity: 0.8;
  pointer-events: none; 
}

.custom-success-toast {
  background-color: #4c54af; /* Couleur de fond personnalisée */
  color: white; 
  position: absolute;/* Couleur du texte personnalisée */
}




